# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=ControlThingsPlatform

# Make this the same as your github username/organisation
REPO_ORGANIZATION="ControlThings-io"

IMAGE_DESC="ControlThings Platform is a Linux distribution for performing security assessments and penetration tests on OT/ICS systems"
IMAGE_KEYWORDS="bootc,oci,linux,controlthings,security,assessment,pentest,ot,ics"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://lh3.googleusercontent.com/sitesv/AG8ngQUf_4oSBOh_HchjQ6R7XFRarOgnH9RziTFxM-8a648hbneWlDxSROWslQoeYq3PXterJeNg38cKkZYOVHEe4BmLw4_XBnOdv7q0qw0L_JAX6vpU3T2KhZd8QBd0fUtIv4R_GpmowDZdfjgcQTyZx93o2Vw4xEZfsXfe5ntTVTFSW7deQU3rou3LBPDJzxo=w16383"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
